<div class="background-body visible-xs-inline"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar__left">
      <logo class="navbar__logo"></logo>
    </div>
    <div class="navbar__right">
      <user-id-label></user-id-label>
    </div>
  </div>
</nav>

<div class="authorized">

  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-5">
        <page-header class="authorized__title"></page-header>
      </div>
      <div class="col-sm-7">
         <manage-user-name></manage-user-name>
         <manage-acct-header></manage-acct-header>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel--authorized">

    <div class="panel-body">
      <div class="form-horizontal">

        <manage-acct-message></manage-acct-message>

        <manage-status-button></manage-status-button>

        <div class="col-sm-12 well status" ng-if="ManageUserName.userName[0].input.value.length > 0 || ManageUserName.noUsername.label.text.length > 0">
          <div class="col-sm-3">
            <h3 class="status__title">{{ManageUserName.userName[0].input.value}}</h3>
          </div>
          <div class="col-sm-9 well--divider">
            <manage-acct-status></manage-acct-status>
          </div>
        </div>

        <div class="col-sm-9">
          <div class="row">
            <manage-acct-info></manage-acct-info>
            <manage-acct-kba></manage-acct-kba>
            <manage-acct-cert></manage-acct-cert>
            <manage-acct-mobile></manage-acct-mobile>
            <manage-acct-dfp></manage-acct-dfp>
            <manage-acct-push></manage-acct-push>
            <manage-acct-otp></manage-acct-otp>
            <manage-acct-symantec></manage-acct-symantec>
            <manage-acct-reset></manage-acct-reset>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="btn--account" ng-if="ManageUserName.userName[0].input.value.length > 0 && ManageUserName.noUsername === undefined">
            <div class="col-sm-12">
              <manage-acct-update></manage-acct-update>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <manage-acct-password></manage-acct-password>
  <manage-acct-pin></manage-acct-pin>

  <div class="text-center text--color">
    <forgot-username-link></forgot-username-link>
    <forgot-password-link></forgot-password-link>
    <restart-login-link></restart-login-link>
    <copyright-text class="text-center text--color"></copyright-text>
    <eula-link></eula-link>
    <disclaimer-text></disclaimer-text>
  </div>

</div>