<div class="col-sm-12 text-center" ng-if="OidcRevoke.oidcRevokeTxt.label.text.length > 0">
  <p>{{OidcRevoke.oidcRevokeTxt.label.text}}</p>
</div>

<table class="table table-bordered" ng-if="OidcRevoke.oidcClientTableTh[0].label.text.length > 0" >
  <thead>
    <tr>
      <th ng-repeat="client in OidcRevoke.oidcClientTableTh">{{client.label.text}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in OidcRevoke.oidcClientTableBody">
      <td>
        <input id="{{client.check.id + '_UiInput'}}" type="{{client.check.type}}" ng-click="OidcRevoke.onClick(client.check.id)">
      </td>
      <td>
        {{client.name.text}}
      </td>
      <td>
        {{client.scope.text}}
      </td>
    </tr>
  </tbody>
</table>

<div class="col-sm-12 text-center" ng-if="OidcRevoke.oidcRevokeButton.input.value.length > 0">
  <a href="#" id="{{OidcRevoke.oidcRevokeButton.input.id + '_UiInput'}}" class="btn btn-primary" ng-click="OidcAuth.onClick(OidcRevoke.oidcRevokeButton.input.id)">{{OidcRevoke.oidcRevokeButton.input.value}}</button>
</div>