# Ignore Dot Files
.DS_Store
.AppleDouble
.LSOverride

!.gitignore

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# NPM
node_modules/

# Dist folder
dist/Themes/.git
dist/Themes/2012
dist/Themes/2013
dist/Themes/Legacy
dist/Themes/OTP App Default

# Theme folder
Themes/Dark
Themes/Light

# Sublime Text projects
*.sublime-project
*.sublime-workspace
