<div class="form-group" ng-repeat="reg in RegCode.registration">
  <label class="col-sm-12">{{reg.label.text}}</label>
  <div class="col-sm-12">
    <input id="{{reg.input.id + '_UiInput'}}" class="form-control" type="{{reg.input.type}}" placeholder="{{reg.input.placeholder}}" autocomplete="off" ng-model="RegCode.number" ng-change="RegCode.regOnChange()" ng-init="RegCode.regNumber()" focus-if required>
  </div>
</div>

<div class="form-group">
  <div class="btn--keypad">
    <div>
      <span class="btn btn-primary btn--key" ng-repeat="key in RegCode.keyPad" ng-click="RegCode.keyPress(key)">{{key}}</span>
      <span class="btn btn-primary btn--key pull-right" ng-click="RegCode.keyPress('clear')">C</span>
      <span class="btn btn-primary btn--key pull-right" ng-click="RegCode.keyPress(0)">0</span>
    </div>
  </div>
</div>
