<div class="background-body visible-xs-inline"></div>

<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 sidebar">

  <user-id-label></user-id-label>
  <logo class="sidebar__logo"></logo>

  <hr class="sidebar__hr hidden-xs">

  <page-header></page-header>

  <sidebar-avatar></sidebar-avatar>

  <hr class="sidebar__hr hidden-xs">

  <div class="sidebar__footer">
    <forgot-username-link></forgot-username-link>
    <forgot-password-link></forgot-password-link>
    <restart-login-link></restart-login-link>
    <copyright-text></copyright-text>
    <eula-link></eula-link>
      <disclaimer-text></disclaimer-text>
  </div>

</div>

<div class="col-xs-12 col-sm-8 col-md-7 col-lg-8 content">

  <div class="content__panel">

    <div class="panel panel-default panel--login">

      <div class="panel-body">
        <div class="form-horizontal">
          <logout-message></logout-message>
        </div>
      </div>

    </div>

    <div class="col-xs-12 sidebar__footer visible-xs-inline">
      <forgot-username-link></forgot-username-link>
      <forgot-password-link></forgot-password-link>
      <restart-login-link></restart-login-link>
      <copyright-text></copyright-text>
      <eula-link></eula-link>
      <disclaimer-text></disclaimer-text>
    </div>
    
  </div>

</div>