<div class="form-group" ng-if="ManageAcctDfp.dfpTxt.label.text.length > 0">
  <label class="col-sm-2">{{ManageAcctDfp.dfpTxt.label.text}}</label>
  <div class="col-sm-10">
    <div class="dfp-collapse" ng-repeat="info in ManageAcctDfp.dfpDeviceLog">
      <i class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="{{'#' + info.input.id + 'UiToggle'}}" ng-if="info.input"></i> <input type="{{info.input.type}}" ng-checked="{{info.input.check}}" ng-click="ManageAcctDfp.check(info.input.id)" ng-if="info.input"> <span>{{info.label.text}}</span>
      <div id="{{info.input.id + 'UiToggle'}}" class="collapse col-sm-12">
        <ul class="col-sm-12 list-unstyled">
          <li ng-repeat="log in ManageAcctDfp.dfpDeviceLog[$index].logs">{{log}}</li>
        </ul>
      </div>
    </div>
    <div ng-if="ManageAcctDfp.dfpDeviceRestBtn">
      <button ng-click="ManageAcctDfp.resetBtn('fingerprint')" class="btn btn-danger" name="{{ManageAcctDfp.dfpDeviceRestBtn.button.name}}">{{ManageAcctDfp.dfpDeviceRestBtn.button.value}}</button>
    </div>
  </div>
</div>