<div class="form-group" ng-if="AccountUpdateHelpdesk.acctHelpdeskTxt.label.text.length > 0">
  <div class="col-sm-12">
    <label>{{AccountUpdateHelpdesk.acctHelpdeskTxt.label.text}}</label>
  </div>
</div>

<div class="form-group" ng-repeat="question in AccountUpdateHelpdesk.acctHelpdeskQuestion">
  <div class="col-sm-12">
    <select id="{{question.select.id + '_UiInput'}}" name="{{question.select.id}}" class="form-control" ng-model="$indexHelpdeskQuestion" ng-init="$indexHelpdeskQuestion = question.select.value " ng-change="AccountUpdateHelpdesk.onSelect(question.select.id)">
      <option value="{{opt.option.value}}" ng-repeat="opt in AccountUpdateHelpdesk.acctHelpdeskQuestion[$index].options" ng-selected="{{opt.option.selected}}">{{opt.option.value}}</option>
    </select>
  </div>
  <div class="col-sm-12">
    <input id="{{AccountUpdateHelpdesk.acctHelpdeskAnswer.input.id + '_UiInput'}}" type="{{AccountUpdateHelpdesk.acctHelpdeskAnswer.input.type}}" class="form-control" value="{{AccountUpdateHelpdesk.acctHelpdeskAnswer.input.value}}" placeholder="{{AccountUpdateHelpdesk.acctHelpdeskAnswer.input.placeholder}}" ng-model="AccountUpdateHelpdesk.answer" ng-init="AccountUpdateHelpdesk.answer = AccountUpdateHelpdesk.acctHelpdeskAnswer.input.value" ng-change="AccountUpdateHelpdesk.onHelpdeskChange(AccountUpdateHelpdesk.acctHelpdeskAnswer.input.id)" ng-required="{{AccountUpdateHelpdesk.acctHelpdeskAnswer.input.required}}">
  </div>
</div>