<div class="form-group" ng-repeat="pass in PassCredential.passUserName">
  <label class="col-sm-12">{{pass.label.text}}</label>
  <div class="col-sm-12">
    <input id="{{pass.input.id + '_UiInput'}}" type="{{pass.input.type}}" class="form-control" placeholder="{{pass.input.placeholder}}" value="{{pass.input.value}}" autocomplete="off" ng-readonly="{{pass.input.readonly}}" ng-init="">
  </div>
</div>

<div class="form-group" ng-repeat="pass in PassCredential.passUserPass">
  <label class="col-sm-12">{{pass.label.text}}</label>
  <div class="col-sm-12">
    <input id="{{pass.input.id + '_UiInput'}}" type="{{pass.input.type}}" class="form-control" placeholder="{{pass.input.placeholder}}" autocomplete="off" ng-readonly="{{pass.input.readonly}}" ng-model="PassCredential.pass" ng-change="PassCredential.passOnChange(pass.input.id)" focus-if required>
  </div>
</div>